<html>
  
  <head>
    {% if title %}
    <title>Document</title>
    {% else %}
    <title>Welcome to Sweet Shop</title>
    {% endif %}
  </head>

  <body>
    <!-- <h1>Hello, {{ user.nickname }}!</h1> -->
    <h1>Welcome to Awesome Sweets!</h1>

    <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-e3zv{font-weight:bold}
</style>
<table class="tg">
  <tr>
    <th class="tg-031e">Description</th>
    <th class="tg-031e">Unit</th>
    <th class="tg-031e">Unit Price</th>
    <th class="tg-031e">Qty</th>
    <th class="tg-031e">Price</th>
  </tr>
  <tr>
    <td class="tg-031e">Awesome Chocolates</td>
    <td class="tg-031e">8.8-oz</td>
    <td class="tg-031e">$9.95</td>
    <td class="tg-031e">2 pcs</td>
    <td class="tg-031e">$19.90</td>
  </tr>
  <tr>
    <td class="tg-031e">Bags of awesome sweets</td>
    <td class="tg-031e">24-piece boxes</td>
    <td class="tg-031e">$39.70</td>
    <td class="tg-031e">2 boxes</td>
    <td class="tg-031e">$79.40</td>
  </tr>
  <tr>
    <td class="tg-031e"></td>
    <td class="tg-031e"></td>
    <td class="tg-031e"></td>
    <td class="tg-031e"></td>
    <td class="tg-e3zv"></td>
  </tr>
  <tr>
    <td class="tg-031e"></td>
    <td class="tg-031e"></td>
    <td class="tg-031e"></td>
    <td class="tg-031e">Tax</td>
    <td class="tg-031e">$2.58</td>
  </tr>
  <tr>
    <td class="tg-031e"></td>
    <td class="tg-031e"></td>
    <td class="tg-031e"></td>
    <td class="tg-031e">Shipping</td>
    <td class="tg-031e">$5.99</td>
  </tr>
  <tr>
    <td class="tg-031e"></td>
    <td class="tg-031e"></td>
    <td class="tg-031e"></td>
    <td class="tg-031e">Shipping Discount</td>
    <td class="tg-031e">-$3.00</td>
  </tr>
  <tr>
    <td class="tg-031e"></td>
    <td class="tg-031e"></td>
    <td class="tg-031e"></td>
    <td class="tg-e3zv">Total</td>
    <td class="tg-e3zv">$105.87 USD</td>
  </tr>
</table>
<p>
    <a href="/buy">
      <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" align="left" style="margin-right:7px;">
    </a>
    

  </body>

</html>